<div class="container-fluid">
  <div class="panel-group header" id="therapeutic">
    <div class="panel panel-default">
      <div class="panel-heading header">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#therapeutic" href="#therapeuticTab">
            Therapeutic
          </a>
        </h4>
      </div>
      <div id="therapeuticTab" class="panel-collapse collapse">
        <div class="panel-body">
          <div style="margin: 10px 0;" class="input-group my-group">
            <label>&nbsp;</label>
            <select id="lunch" class="selectpicker form-control" data-live-search="true"
              title="Please select an option ...">
              <option>Patient</option>
              <option>Parent</option>
            </select>
          </div>
          <div class="panel-group" id="pastDrugs">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#pastDrugs"
                    href="#pastDrugsTab">
                    Past Drugs
                  </a>
                </h4>
              </div>
              <div id="pastDrugsTab" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="input-group">
                        <label>Drug</label>
                        <input type=“text” required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="input-group">
                        <label>Therapy Start Date</label>
                        <input type="date" required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-group">
                        <label>Therapy End Date</label>
                        <input type="date" required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="panel-group" id="pastReaction">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#pastReaction"
                    href="#pastReactionTab">
                    Past Reaction
                  </a>
                </h4>
              </div>
              <div id="pastReactionTab" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="input-group">
                        <label>Reported Term</label>
                        <input type=“text” required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="input-group">
                        <label>LLT Code</label>
                        <input type=“text” required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group">
                        <label>PT Code</label>
                        <input type=“text” required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group">
                        <label>SOC Code</label>
                        <input type=“text” disabled required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-group">
                        <label>&nbsp;</label>
                        <input type=“text” required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group">
                        <label>&nbsp;</label>
                        <input type=“text” required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group">
                        <label>&nbsp;</label>
                        <input type=“text” disabled required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="input-group">
                        <label>MedDRA Version</label>
                        <input type="text" disabled required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="input-group">
                        <label>Coding Type</label>
                        <input type="text" disabled required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>



