.checkbox-inline{
  margin: 0;
  margin-right: 10px;
}
.custom-margin{
  margin: 30px 0;
}

.margin-class{
  margin-bottom: 10px;
}

table{
  margin-top: 10px;
}

.mT-20{
  margin-top: 20px;
}

.MedDRALinks{
  display: flex;
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
  li{
    margin-right: 10px;
  }
}

.mr-10{
  margin-right: 10px;
}
