<div class="container-fluid">
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading header">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            General
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="panel-group" id="caseId">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#caseId" href="#caseIdentifiers">
                    Case Identifiers
                  </a>
                </h4>
              </div>
              <div id="caseIdentifiers" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="col-md-6">
                        <div class="input-group">
                          <label>AE Number</label>
                          <input type="number" required class="form-control"
                            aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group">
                          <label>Owner</label>
                          <input type="text" class="form-control"
                            aria-describedby="basic-addon1">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="input-group">
                          <label>Version Number</label>
                          <input type="number" required class="form-control"
                            aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group my-group">
                          <label>Case Type</label>
                          <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                              <option>Drug</option>
                              <option>Vaccine</option>
                              <option>Device</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-group" id="admin">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#admin" href="#adminPanel">
                    Admin
                  </a>
                </h4>
              </div>
              <div id="adminPanel" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="col-md-6">
                        <div class="input-group my-group">
                          <label>Department of Occurence</label>
                          <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                              <option>Option 1</option>
                              <option>Option 2</option>
                              <option>Option 3</option>
                              <option>Option 4</option>
                          </select>
                        </div>
                        <div class="input-group my-group">
                          <label>Primary Source Country</label>
                          <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                              <option>Option 1</option>
                              <option>Option 2</option>
                              <option>Option 3</option>
                              <option>Option 4</option>
                          </select>
                        </div>
                        <div class="input-group my-group">
                          <label>Initial Reporting Method</label>
                          <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                              <option>Option 1</option>
                              <option>Option 2</option>
                              <option>Option 3</option>
                              <option>Option 4</option>
                          </select>
                        </div>
                        <div class="input-group">
                          <label>Initial Received Date</label>
                          <input type="text" disabled class="form-control" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group">
                          <label>Latest Received Date</label>
                          <input type="text" class="form-control" aria-describedby="basic-addon1">
                        </div>
                        <!-- <div class="input-group my-group">
                          <label>Medically Confirmed</label>
                          <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                              <option>Option 1</option>
                              <option>Option 2</option>
                              <option>Option 3</option>
                              <option>Option 4</option>
                          </select>
                        </div> -->
                        <div class="input-group my-group">
                          <label>Case Importance</label>
                          <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                              <option>Option 1</option>
                              <option>Option 2</option>
                              <option>Option 3</option>
                              <option>Option 4</option>
                          </select>
                        </div>
                        <div class="input-group my-group">
                          <label>Dosier Type</label>
                          <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                              <option>Option 1</option>
                              <option>Option 2</option>
                              <option>Option 3</option>
                              <option>Option 4</option>
                          </select>
                        </div>
                        <div class="input-group my-group">
                          <label>Additional Documnets</label>
                          <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                              <option>Option 1</option>
                              <option>Option 2</option>
                              <option>Option 3</option>
                              <option>Option 4</option>
                          </select>
                        </div>
                        <div class="input-group my-group">
                          <label>Type of Report</label>
                          <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                              <option>Option 1</option>
                              <option>Option 2</option>
                              <option>Option 3</option>
                              <option>Option 4</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="input-group my-group">
                          <label>Country Of Detection</label>
                          <input type="text" class="form-control" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group my-group">
                          <label>Locally Expedited</label>
                          <input type="text" class="form-control" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group my-group">
                          <label>Declaration Type</label>
                          <input type="text" class="form-control" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group my-group">
                          <label>AER Entry Date</label>
                          <input type="text" disabled class="form-control" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group my-group">
                          <label>AER Close Date</label>
                          <input type="text" class="form-control" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group my-group">
                          <label>Category</label>
                          <input type="text" class="form-control" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group my-group">
                          <label>Response Sent</label>
                          <input type="text" class="form-control" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group my-group">
                          <label>AER Approval Date</label>
                          <input type="text" disabled class="form-control" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group my-group">
                          <label>Documents(Text)</label>
                          <textarea class="form-control"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-group" id="status">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#caseId" href="#caseStatus">
                    Case Status
                  </a>
                </h4>
              </div>
              <div id="caseStatus" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="col-md-6">
                        <div class="input-group my-group">
                          <label>Informativeness</label>
                          <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                              <option>Option 1</option>
                              <option>Option 2</option>
                              <option>Option 3</option>
                              <option>Option 4</option>
                          </select>
                        </div>
                        <div class="input-group my-group">
                          <label>Report For Nullification / Amendment</label>
                          <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                              <option>Option 1</option>
                              <option>Option 2</option>
                              <option>Option 3</option>
                              <option>Option 4</option>
                          </select>
                        </div>
                        <div class="input-group">
                          <label>Lock Status</label>
                          <input type="text" disabled value="AER IS NOT LOCKED" required class="form-control"
                            aria-describedby="basic-addon1">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="input-group">
                          <label>AER Status</label>
                          <input type="number" required class="form-control"
                            aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group">
                          <label>Locked Reason</label>
                          <input type="text" value="AER IS NOT LOCKED" disabled required class="form-control"
                            aria-describedby="basic-addon1">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button style="margin: 10px;" type="button" class="btn btn-default">Save</button>
    </div>
  </div>
