<div class="container-fluid">
  <div class="panel-group header" id="patient">
    <div class="panel panel-default">
      <div class="panel-heading header">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#patient" href="#patientTab">
            Patient
          </a>
        </h4>
      </div>
      <div id="patientTab" class="panel-collapse collapse in">
        <div class="panel-body">
          <div class="panel-group" id="patientInformation">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#patientInformation" href="#patientInfoTab">
                    Patient Information
                  </a>
                </h4>
              </div>
              <div id="patientInfoTab" class="panel-collapse collapse in">
                <div class="panel-body">
                  <div class="panel-group" id="characteristics">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#characteristics" href="#characteristicsTab">
                            Characteristics
                          </a>
                        </h4>
                      </div>
                      <div id="characteristicsTab" class="panel-collapse collapse in">
                        <div class="panel-body">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="input-group">
                                <label>Patient ID</label>
                                <input type=“number” required class="form-control"
                                  aria-describedby="basic-addon1">
                              </div>
                              <div class="input-group my-group">
                                <label>French Department</label>
                                <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                    <option>Option 4</option>
                                </select>
                              </div>
                              <div class="input-group my-group">
                                <label>Sex</label>
                                <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                                    <option>Male</option>
                                    <option>Female</option>
                                </select>
                              </div>
                              <div class="row">
                                <div class="col-md-4">
                                  <div class="input-group">
                                    <label>Body Surface</label>
                                    <input type=text class="form-control"
                                      aria-describedby="basic-addon1">
                                  </div>
                                </div>
                                <div class="col-md-2">
                                  <div class="input-group">
                                    <label class="checkbox-inline">
                                      <input type="checkbox" value="">Manual
                                    </label>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-4">
                                  <div class="input-group">
                                    <label>Body Mass Index</label>
                                    <input type=text class="form-control"
                                      aria-describedby="basic-addon1">
                                  </div>
                                </div>
                                <div class="col-md-2">
                                  <div class="input-group">
                                    <label class="checkbox-inline">
                                      <input type="checkbox" value="">Manual
                                    </label>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-4">
                                  <div class="input-group">
                                    <label>Age At The Time Of Event</label>
                                    <input type=text class="form-control"
                                      aria-describedby="basic-addon1">
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="input-group my-group checkbox-inline">
                                    <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                        <option>Option 3</option>
                                        <option>Option 4</option>
                                    </select>
                                  </div>
                                </div>
                                <div class="col-md-2">
                                  <div class="input-group">
                                    <label class="checkbox-inline">
                                      <input type="checkbox" value="">Manual
                                    </label>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-4">
                                  <div class="input-group">
                                    <label>Gestation Period</label>
                                    <input type=text class="form-control"
                                      aria-describedby="basic-addon1">
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="input-group my-group checkbox-inline">
                                    <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                        <option>Option 3</option>
                                        <option>Option 4</option>
                                    </select>
                                  </div>
                                </div>
                                <div class="col-md-2">
                                  <div class="input-group">
                                    <label class="checkbox-inline">
                                      <input type="checkbox" value="">Manual
                                    </label>
                                  </div>
                                </div>
                              </div>
                              <div class="input-group my-group">
                                <label>Family Situation</label>
                                <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                    <option>Option 4</option>
                                </select>
                              </div>
                              <div class="input-group my-group">
                                <label>Employment</label>
                                <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                    <option>Option 4</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="input-group">
                                <label>First Name</label>
                                <input type=“text” required class="form-control"
                                  aria-describedby="basic-addon1">
                              </div>
                              <div class="input-group my-group">
                                <label>Country</label>
                                <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                    <option>Option 4</option>
                                </select>
                              </div>
                              <div class="row">
                                <div class="col-md-6">
                                  <div class="input-group">
                                    <label>Weight</label>
                                    <input type=“text” required class="form-control"
                                      aria-describedby="basic-addon1">
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="input-group my-group checkbox-inline">
                                    <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                        <option>Option 3</option>
                                        <option>Option 4</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-6">
                                  <div class="input-group">
                                    <label>Height</label>
                                    <input type=“text” required class="form-control"
                                      aria-describedby="basic-addon1">
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="input-group my-group checkbox-inline">
                                    <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                        <option>Option 3</option>
                                        <option>Option 4</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                              <div class="input-group">
                                <label>Date Of Birth</label>
                                <input type=“text” required class="form-control"
                                  aria-describedby="basic-addon1">
                              </div>
                              <div class="row">
                                <div class="col-md-4">
                                  <div class="input-group my-group">
                                    <label>Age Group</label>
                                    <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                        <option>Option 3</option>
                                        <option>Option 4</option>
                                    </select>
                                  </div>
                                </div>
                                <div class="col-md-2">
                                  <div class="input-group">
                                    <label class="checkbox-inline">
                                      <input type="checkbox" value="">Manual
                                    </label>
                                  </div>
                                </div>
                              </div>
                              <div class="input-group my-group">
                                <label>LMP Date</label>
                                <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                    <option>Option 4</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel-group" id="riskFactors">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#riskFactors" href="#riskFactorsTab">
                            Risk Factors
                          </a>
                        </h4>
                      </div>
                      <div id="riskFactorsTab" class="panel-collapse collapse in">
                        <div class="panel-body">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="input-group my-group">
                                <label>Alcohol Use</label>
                                <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                    <option>Option 4</option>
                                </select>
                              </div>
                              <div class="input-group my-group">
                                <label>Drug Abuse</label>
                                <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                    <option>Option 4</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="input-group my-group">
                                <label>Tobacco</label>
                                <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                    <option>Option 4</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel-group" id="patientRecord">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#patientRecord" href="#patientRecordTab">
                            Patient Record
                          </a>
                        </h4>
                      </div>
                      <div id="patientRecordTab" class="panel-collapse collapse in">
                        <div class="panel-body">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="input-group my-group">
                                <label>Record Type</label>
                                <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                    <option>Option 4</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="input-group my-group">
                                <label>Record Number</label>
                                <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                    <option>Option 4</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel-group" id="patientPastDetails">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#patientPastDetails" href="#patientPastDetailsTab">
                            Death Info
                          </a>
                        </h4>
                      </div>
                      <div id="patientPastDetailsTab" class="panel-collapse collapse in">
                        <div class="panel-body">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="input-group my-group">
                                <label>Patient Past Details</label>
                                <select (change)="showStartDate($event.target.value)" id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                                    <option>Death</option>
                                    <option>Autopsy</option>
                                    <option>Disease</option>
                                    <option>Indication</option>
                                    <option>Reactions/Events</option>
                                </select>
                              </div>
                              <div class="input-group">
                                <label>Date Of Death</label>
                                <input type="date" class="form-control">
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="input-group">
                                <label>Autospy Performed</label>
                                <input type=“text” required class="form-control"
                                  aria-describedby="basic-addon1">
                              </div>
                              <div class="input-group" *ngIf="showDateField">
                                <label>Start Date</label>
                                <input type="date" class="form-control">
                              </div>
                              <div class="input-group" *ngIf="showDateField">
                                <label>End Date</label>
                                <input type="date" class="form-control">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel-group" id="meddraCoding">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#meddraCoding" href="#meddraCodingTab">
                            Meddra Coding
                          </a>
                        </h4>
                      </div>
                      <div id="meddraCodingTab" class="panel-collapse collapse in">
                        <div class="panel-body">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="input-group">
                                <label>Term Reported</label>
                                <textarea type=“text” class="form-control"></textarea>
                              </div>
                              <div class="input-group">
                                <label>LLT Code</label>
                                <input type=“text” required class="form-control"
                                  aria-describedby="basic-addon1">
                              </div>
                              <div class="input-group">
                                <label>PT Code</label>
                                <input type=“text” required class="form-control"
                                  aria-describedby="basic-addon1">
                              </div>
                              <div class="input-group">
                                <label>SOC Code</label>
                                <input type=“text” disabled required class="form-control"
                                  aria-describedby="basic-addon1">
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="input-group">
                                <label>&nbsp;</label>
                                <input type=“text” disabled required class="form-control"
                                  aria-describedby="basic-addon1">
                              </div>
                              <div class="input-group">
                                <label>&nbsp;</label>
                                <input type=“text” disabled required class="form-control"
                                  aria-describedby="basic-addon1">
                              </div>
                              <div class="input-group">
                                <label>&nbsp;</label>
                                <input type=“text” disabled required class="form-control"
                                  aria-describedby="basic-addon1">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="input-group">
                                <label>MedDRA Version</label>
                                <input type=“text” disabled required class="form-control"
                                  aria-describedby="basic-addon1">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="input-group">
                                <label>Coding Type</label>
                                <input type=“text” disabled required class="form-control"
                                  aria-describedby="basic-addon1">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-group" id="patientParent">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#patientParent" href="#patientParentTab">
                    Patient Parent
                  </a>
                </h4>
              </div>
              <div id="patientParentTab" class="panel-collapse collapse in">
                <div class="panel-body">
                  <div class="panel-group" id="parentInfo">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#parentInfo" href="#parentInfoTab">
                            Parent Information
                          </a>
                        </h4>
                      </div>
                      <div id="parentInfoTab" class="panel-collapse collapse in">
                        <div class="panel-body">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="input-group">
                                <label>Parent ID</label>
                                <input type="number" required class="form-control"
                                  aria-describedby="basic-addon1">
                              </div>
                              <div class="row">
                                <div class="col-md-6">
                                  <div class="input-group">
                                    <label>Weight</label>
                                    <input type="number" required class="form-control"
                                      aria-describedby="basic-addon1">
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="input-group my-group">
                                    <label>&nbsp;</label>
                                    <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                        <option>Option 3</option>
                                        <option>Option 4</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                              <div class="input-group">
                                <label>Date Of Birth</label>
                                <input type="date" required class="form-control"
                                  aria-describedby="basic-addon1">
                              </div>
                              <div class="input-group">
                                <label>LMP Date</label>
                                <input type="date" required class="form-control"
                                  aria-describedby="basic-addon1">
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="input-group my-group">
                                <label>Sex</label>
                                <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                                    <option>Male</option>
                                    <option>Female</option>
                                </select>
                              </div>
                              <div class="row">
                                <div class="col-md-6">
                                  <div class="input-group">
                                    <label>Height</label>
                                    <input type=“text” required class="form-control"
                                      aria-describedby="basic-addon1">
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="input-group my-group">
                                    <label>&nbsp;</label>
                                    <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                        <option>Option 3</option>
                                        <option>Option 4</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-6">
                                  <div class="input-group">
                                    <label>Age At The Time Of Event</label>
                                    <input type=“text” required class="form-control"
                                      aria-describedby="basic-addon1">
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="input-group my-group">
                                    <label>&nbsp;</label>
                                    <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                        <option>Option 3</option>
                                        <option>Option 4</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel-group" id="parentAddress">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#parentAddress" href="#parentAddressTab">
                            Parent Address
                          </a>
                        </h4>
                      </div>
                      <div id="parentAddressTab" class="panel-collapse collapse in">
                        <div class="panel-body">
                          <div class="row name-wrapper">
                            <p class="name-wrap">Name</p>
                            <div class="col-md-6">
                              <div class="input-group">
                                <label>Last</label>
                                <input type=“text” required class="form-control"
                                  aria-describedby="basic-addon1">
                              </div>
                              <div class="input-group">
                                <label>MI</label>
                                <input type=“text” required class="form-control"
                                  aria-describedby="basic-addon1">
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="input-group">
                                <label>First</label>
                                <input type=“text” required class="form-control"
                                  aria-describedby="basic-addon1">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
