<div class="container-fluid">
  <div class="panel-group" id="person">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#person" href="#personTab">
            Person
          </a>
        </h4>
      </div>
      <div id="personTab" class="panel-collapse collapse in">
        <div class="panel-body">
          <div class="panel-group" id="reporter">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#reporter" href="#reporterTab">
                    Reporter Or Other Source
                  </a>
                </h4>
              </div>
              <div id="reporterTab" class="panel-collapse collapse in">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="input-group">
                        <label>Title</label>
                        <input type="text" required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                    </div>
                  </div>
                  <div class="row name-wrapper">
                    <p class="name-wrap">Name</p>
                    <div class="col-md-6">
                      <div class="input-group">
                        <label>Last</label>
                        <input type="text" required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group">
                        <label>MI</label>
                        <input type="text" required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-group">
                        <label>First</label>
                        <input type="text" required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="input-group my-group">
                        <label>Reporter Type</label>
                        <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                        </select>
                      </div>
                      <div class="input-group my-group">
                        <label>Specilization</label>
                        <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                        </select>
                      </div>
                      <div class="input-group">
                        <label>Hospital/Organization Name</label>
                        <input type="text" required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group">
                        <label>Address 2</label>
                        <input type="text" required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group">
                        <label>Zip Code</label>
                        <input type="number" required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group my-group">
                        <label>French Department</label>
                        <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                        </select>
                      </div>
                      <div class="input-group my-group">
                        <label>Country</label>
                        <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                        </select>
                      </div>
                      <div class="input-group">
                        <label>Fax No</label>
                        <input type="number" required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group my-group">
                        <label>Initial Reporting Method</label>
                        <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                        </select>
                      </div>
                      <div class="input-group my-group">
                        <label>Other Health Care Professional</label>
                        <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-group my-group">
                        <label>Organization Type</label>
                        <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                        </select>
                      </div>
                      <div class="input-group">
                        <label>Department</label>
                        <input type="text" required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group">
                        <label>Address 1</label>
                        <input type="text" required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group">
                        <label>Address 3</label>
                        <input type="text" required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group">
                        <label>City</label>
                        <input type="text" required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group">
                        <label>State</label>
                        <input type="text" required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group">
                        <label>Phone</label>
                        <input type="number" required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group">
                        <label>Email Address</label>
                        <input type="email" required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-group" id="study">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#study" href="#studyTab">
                    Study
                  </a>
                </h4>
              </div>
              <div id="studyTab" class="panel-collapse collapse in">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="input-group">
                        <label>Protocol No (Study No)</label>
                        <input type=“text” required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group">
                        <label>Study Description</label>
                        <textarea class="form-control"></textarea>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-group my-group">
                        <label>Study Type</label>
                        <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                        </select>
                      </div>
                      <div class="input-group">
                        <label>Study Identification For EudraCT</label>
                        <input type=“text” required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="panel-group" id="literature">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#literature" href="#literatureTab">
                    Literature
                  </a>
                </h4>
              </div>
              <div id="literatureTab" class="panel-collapse collapse in">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="input-group">
                        <label>Literature No</label>
                        <input type=“text” required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group">
                        <label>Literature Reference </label>
                        <textarea class="form-control"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
