<div class="container-fluid">
  <div class="panel-group" id="product">
    <div class="panel panel-default">
      <div class="panel-heading header">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#product" href="#productTab">
            Product
          </a>
        </h4>
      </div>
      <div id="productTab" class="panel-collapse collapse in">
        <div class="panel-body">
          <div class="panel-group" id="ingredients">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#ingredients" href="#ingredientsTab">
                    Ingredients
                  </a>
                </h4>
              </div>
              <div id="ingredientsTab" class="panel-collapse collapse in">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="input-group">
                        <label>Substance Name</label>
                        <input type=“text” required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group">
                        <label>CAS Number (Chemical Abstracts Service)</label>
                        <input type=“text” required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group">
                        <label>Strength</label>
                        <input type=“text” required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group my-group">
                        <label>Type</label>
                        <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                        </select>
                      </div>
                      <div class="input-group">
                        <label>Term ID</label>
                        <input type=“text” required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-group">
                        <label>CDC</label>
                        <input type=“text” required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group my-group">
                        <label>Class Of Ingredient</label>
                        <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                        </select>
                      </div>
                      <div class="input-group my-group">
                        <label>Strength Unit</label>
                        <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                        </select>
                      </div>
                      <div class="input-group">
                        <label class="checkbox-inline">
                          <input type="checkbox" value="">Primary Active
                        </label>
                      </div>
                      <div class="input-group">
                        <label>Term ID Operation Date</label>
                        <input type="date" required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-group" id="productInner">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#productInner" href="#productInnerTab">
                    Product
                  </a>
                </h4>
              </div>
              <div id="productInnerTab" class="panel-collapse collapse in">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="input-group">
                        <label>Product Description</label>
                        <input type=“text” required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-group">
                        <label>Product Name As Reported</label>
                        <input type=“text” required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                        <div class="input-group">
                          <label>Associated To</label>
                          <input type=“text” required class="form-control"
                            aria-describedby="basic-addon1">
                        </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="input-group my-group">
                        <label>Level</label>
                        <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                        </select>
                      </div>
                      <div class="input-group">
                        <label>Product Group Name</label>
                        <input type=“text” disabled required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group">
                        <label>Internal Drug Code</label>
                        <input type=“text” disabled required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group">
                        <label>ATC Code</label>
                        <input type=“text” disabled required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group my-group">
                        <label>Auto Medication</label>
                        <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                        </select>
                      </div>
                      <div class="input-group my-group">
                        <label>Physician Directed?</label>
                        <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-group my-group">
                        <label>Product Flag</label>
                        <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                        </select>
                      </div>
                      <div class="input-group my-group">
                        <label>Type</label>
                        <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                        </select>
                      </div>
                      <div class="input-group my-group">
                        <label>Interacting Drug</label>
                        <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                        </select>
                      </div>
                      <div class="input-group">
                        <label>&nbsp;</label>
                        <input type=“text” disabled required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group my-group">
                        <label>MisuseOf This Product?</label>
                        <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                        </select>
                      </div>
                      <div class="input-group my-group">
                        <label>Vigilance Type</label>
                        <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-group" id="productDetails">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#productDetails" href="#productDetailsTab">
                    Product Details
                  </a>
                </h4>
              </div>
              <div id="productDetailsTab" class="panel-collapse collapse in">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="input-group">
                        <label>Pharmaceutical Product ID</label>
                        <input type=“text” required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group">
                        <label>Medicinal Product ID</label>
                        <input type=“text” required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-group">
                        <label>PhPID Operation Date</label>
                        <input type="date" required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group">
                        <label>MP ID Version Date/Number</label>
                        <input type="date" required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-group" id="administration">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#administration" href="#administrationTab">
                    Administration
                  </a>
                </h4>
              </div>
              <div id="administrationTab" class="panel-collapse collapse in">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="input-group my-group">
                        <label>Route Of Admin</label>
                        <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                        </select>
                      </div>
                      <div class="input-group my-group">
                        <label>Route Of Administration 3</label>
                        <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                        </select>
                      </div>
                      <div class="input-group">
                        <label>Therapy Start Date</label>
                        <input type="date" required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group">
                        <label>Therapy End Date</label>
                        <input type=“text” required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          <div class="input-group">
                            <label>Duration</label>
                            <input type=“text” required class="form-control"
                              aria-describedby="basic-addon1">
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="input-group my-group">
                            <label>&nbsp;</label>
                            <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                                <option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                                <option>Option 4</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="input-group">
                            <label class="checkbox-inline">
                              <input type="checkbox" value="">Manual
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-group my-group">
                        <label>Route Of Administration 2</label>
                        <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                        </select>
                      </div>
                      <div class="input-group">
                        <label>LOT No</label>
                        <input type=“text” required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group">
                        <label>Therapy Start Date Text</label>
                        <input type=“text” required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group">
                        <label>Therapy End Date Text</label>
                        <input type=“text” required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group">
                        <label>Duration Text</label>
                        <input type=“text” required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-group" id="dosageText">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#dosageText" href="#dosageTextTab">
                    Dosage Text
                  </a>
                </h4>
              </div>
              <div id="dosageTextTab" class="panel-collapse collapse in">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="input-group">
                        <label>Unit Dose</label>
                        <input type="date" required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group">
                        <label>Frequency</label>
                        <input type=“text” required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <div class="input-group">
                            <label>Daily Dose</label>
                            <input type=“text” required class="form-control"
                              aria-describedby="basic-addon1">
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="input-group my-group">
                            <label>&nbsp;</label>
                            <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                                <option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                                <option>Option 4</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="input-group">
                            <label class="checkbox-inline">
                              <input type="checkbox" value="">Manual
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="input-group">
                        <label>Dosage Text</label>
                        <textarea required class="form-control"
                          aria-describedby="basic-addon1"></textarea>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-group my-group">
                        <label>&nbsp;</label>
                        <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                        </select>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="input-group">
                            <label>Frequency Time</label>
                            <input type=“text” required class="form-control"
                              aria-describedby="basic-addon1">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="input-group my-group">
                            <label>&nbsp;</label>
                            <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                                <option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                                <option>Option 4</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <div class="input-group">
                            <label>Total Dose</label>
                            <input type=“text” required class="form-control"
                              aria-describedby="basic-addon1">
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="input-group my-group">
                            <label>&nbsp;</label>
                            <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                                <option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                                <option>Option 4</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="input-group">
                            <label class="checkbox-inline">
                              <input type="checkbox" value="">Manual
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="input-group my-group">
                        <label>Intake</label>
                        <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button style="margin: 10px;" type="button" class="btn btn-default">Save</button>
    </div>
  </div>
</div>
