<div class="container-fluid">
  <div class="panel-group header" id="literature">
    <div class="panel panel-default">
      <div class="panel-heading header">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#literature" href="#litTab">
            Literature
          </a>
        </h4>
      </div>
      <div id="litTab" class="panel-collapse collapse in">
        <div class="panel-body">
          <div class="panel-group" id="literatureInner">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#literatureInner" href="#literatureInnerTab">
                    Literature
                  </a>
                </h4>
              </div>
              <div id="literatureInnerTab" class="panel-collapse collapse in">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="input-group">
                        <label>Article Title</label>
                        <input type=“text” required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group">
                        <label>Journal Title</label>
                        <input type=“text” required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <div class="input-group">
                        <label>Publication Date</label>
                        <input type=“text” required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="input-group">
                        <label>Edition</label>
                        <input type=“text” required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="input-group">
                        <label class="checkbox-inline">
                          <input type="checkbox" value="">E2B Literature author is same as
                        </label>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="input-group">
                        <label class="checkbox-inline">
                          <input type="checkbox" value="">Retain literature re..
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="input-group">
                        <label>Literature Reference</label>
                        <textarea type=“text” required class="form-control"
                          aria-describedby="basic-addon1"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="input-group my-group">
                        <label>&nbsp;</label>
                        <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="input-group">
                        <label>Library No</label>
                        <textarea type=“text” required class="form-control"
                          aria-describedby="basic-addon1"></textarea>
                      </div>
                      <div class="input-group">
                        <label>Literature No</label>
                        <textarea required class="form-control"
                          aria-describedby="basic-addon1"></textarea>
                      </div>
                      <div class="input-group">
                        <label>Other Information</label>
                        <textarea required class="form-control"
                          aria-describedby="basic-addon1"></textarea>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-group my-group">
                        <label>Report Classification</label>
                        <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                        </select>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="input-group">
                            <label>Page</label>
                            <input type=“text” required class="form-control"
                              aria-describedby="basic-addon1">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="input-group">
                            <label>&nbsp;</label>
                            <input type=“text” required class="form-control"
                              aria-describedby="basic-addon1">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-group" id="authorInfo">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#authorInfo" href="#authorInfoTab">
                    Author's Information
                  </a>
                </h4>
              </div>
              <div id="authorInfoTab" class="panel-collapse collapse in">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="input-group">
                        <label>Title</label>
                        <input type=“text” required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                    </div>
                  </div>
                  <div class="row name-wrapper">
                    <p class="name-wrap">Name</p>
                    <div class="col-md-6">
                      <div class="input-group">
                        <label>Last</label>
                        <input type=“text” required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group">
                        <label>MI</label>
                        <input type=“text” required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-group">
                        <label>First</label>
                        <input type=“text” required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                    </div>
                  </div>
                  <div class="row name-wrapper">
                    <p class="name-wrap-two">Japanese Name</p>
                    <div class="col-md-4">
                      <div class="input-group">
                        <label>Last Name Japanese</label>
                        <input type=“text” required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group">
                        <label>First Name Japanese</label>
                        <input type=“text” required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group">
                        <label>Middle Name Japanese</label>
                        <input type=“text” required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <div class="input-group my-group">
                        <label>Reporter Type</label>
                        <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="input-group">
                        <label class="checkbox-inline">
                          <input type="checkbox" value="">Primary report
                        </label>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="input-group">
                        <label class="checkbox-inline">
                          <input type="checkbox" value="">Do not report
                        </label>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="input-group">
                        <label class="checkbox-inline">
                          <input type="checkbox" value="">Primary source for regulation
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="input-group">
                        <label>Department</label>
                        <input type=“text” required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group">
                        <label>Address 1</label>
                        <input type=“text” required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group">
                        <label>Address 3</label>
                        <input type=“text” required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group">
                        <label>State</label>
                        <input type=“text” required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group my-group">
                        <label>Country</label>
                        <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                        </select>
                      </div>
                      <div class="input-group my-group">
                        <label>Other Health Care Professional</label>
                        <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-group">
                        <label>Hospital/Orgnization Name</label>
                        <input type=“text” required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group">
                        <label>Address 2</label>
                        <input type=“text” required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group">
                        <label>City</label>
                        <input type=“text” required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group">
                        <label>Zip Code</label>
                        <input type="number" required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group my-group">
                        <label>Spain State</label>
                        <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
