.panel-title{
  display: flex;
  justify-content: space-between;
  .no-icon{
    cursor: pointer;
    &:before{
      content: none;
    }
  }
}
.list-buttons {
  padding: 0;
  li{
    button{
      margin-right: 10px;
    }
  }
}
.modal-dialog{
  width: 800px;
}

.modal-header{
  h4{
    color: #000;
  }
}

.modal-body{
  color: #000;
}
