<div class="container-fluid">
  <div class="panel-group" id="event">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#event" href="#eventTab">
            Event
          </a>
        </h4>
      </div>
      <div id="eventTab" class="panel-collapse collapse in">
        <div class="panel-body">
          <div class="panel-group" id="allReactions">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#allReactions"
                    href="#allReactionsTab">
                    All Reactions
                  </a>
                </h4>
              </div>
              <div id="allReactionsTab" class="panel-collapse collapse in">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="input-group">
                        <label>Reported Term</label>
                        <input type=“text” required class="form-control" aria-describedby="basic-addon1">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="input-group">
                        <label>Reported Term In Natiev Language</label>
                        <input type=“text” required class="form-control" aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group">
                        <label>LLT Code</label>
                        <input type=“text” required class="form-control" aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group">
                        <label>PT Code</label>
                        <input type=“text” required class="form-control" aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group">
                        <label>SOC Code</label>
                        <input type=“text” disabled required class="form-control" aria-describedby="basic-addon1">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-group">
                        <label>Native Language</label>
                        <input type=“text” required class="form-control" aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group">
                        <label>&nbsp;</label>
                        <input type=“text” required class="form-control" aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group">
                        <label>&nbsp;</label>
                        <input type=“text” required class="form-control" aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group">
                        <label>&nbsp;</label>
                        <input type=“text” required class="form-control" aria-describedby="basic-addon1">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="input-group">
                        <label>MedDRA Version</label>
                        <input type=“text” required class="form-control" aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group">
                        <label>Coding Type</label>
                        <input type=“text” required class="form-control" aria-describedby="basic-addon1">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <a href="javascript:void(0);">MedDRA Others</a>
                    </div>
                    <div class="col-md-6">
                      <div class="input-group my-group">
                        <label>Reported Highlight</label>
                        <select id="lunch" class="selectpicker form-control" data-live-search="true"
                          title="Please select an option ...">
                          <option>Option 1</option>
                          <option>Option 2</option>
                          <option>Option 3</option>
                          <option>Option 4</option>
                        </select>
                      </div>
                      <div class="input-group">
                        <label>End Date</label>
                        <input type="date" required class="form-control" aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group">
                        <label>Duration Text</label>
                        <input type="text" required class="form-control" aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group my-group">
                        <label>Country</label>
                        <select id="lunch" class="selectpicker form-control" data-live-search="true"
                          title="Please select an option ...">
                          <option>Option 1</option>
                          <option>Option 2</option>
                          <option>Option 3</option>
                          <option>Option 4</option>
                        </select>
                      </div>
                      <div class="input-group my-group">
                        <label>Outcome</label>
                        <select id="lunch" class="selectpicker form-control" data-live-search="true"
                          title="Please select an option ...">
                          <option>Option 1</option>
                          <option>Option 2</option>
                          <option>Option 3</option>
                          <option>Option 4</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-group">
                        <label>Onset Date</label>
                        <input type=“text” required class="form-control" aria-describedby="basic-addon1">
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          <div class="input-group">
                            <label>Duration</label>
                            <input type=“text” required class="form-control" aria-describedby="basic-addon1">
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="input-group my-group">
                            <label>&nbsp;</label>
                            <select id="lunch" class="selectpicker form-control" data-live-search="true"
                              title="Please select an option ...">
                              <option>Option 1</option>
                              <option>Option 2</option>
                              <option>Option 3</option>
                              <option>Option 4</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="input-group">
                            <label class="checkbox-inline">
                              <input type="checkbox" value="">Manual
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="input-group my-group">
                        <label>Symptoms Experienced Earlier Also?</label>
                        <select id="lunch" class="selectpicker form-control" data-live-search="true"
                          title="Please select an option ...">
                          <option>Option 1</option>
                          <option>Option 2</option>
                          <option>Option 3</option>
                          <option>Option 4</option>
                        </select>
                      </div>
                      <div class="input-group my-group">
                        <label>Medically Confirmed (Event)</label>
                        <div class="input-group">
                          <label class="radio-inline">
                            <input type="radio" name="optradio">Yes
                          </label>
                          <label class="radio-inline">
                            <input type="radio" name="optradio">No
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-group" id="seriousnessCriteria">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#seriousnessCriteria"
                    href="#seriousnessCriteriaTab">
                    Seriousness Criteria
                  </a>
                </h4>
              </div>
              <div id="seriousnessCriteriaTab" class="panel-collapse collapse in">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="input-group my-group">
                        <label>Seriousness</label>
                        <select id="lunch" class="selectpicker form-control" data-live-search="true"
                          title="Please select an option ...">
                          <option>Option 1</option>
                          <option>Option 2</option>
                          <option>Option 3</option>
                          <option>Option 4</option>
                        </select>
                      </div>
                      <label>Life Threatning?</label>
                      <div class="input-group">
                        <label class="radio-inline">
                          <input type="radio" name="optradio">Yes
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="optradio">No
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="optradio">No Information
                        </label>
                      </div>
                      <label>Disability Or Permanent Damage?</label>
                      <div class="input-group">
                        <label class="radio-inline">
                          <input type="radio" name="optradio">Yes
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="optradio">No
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="optradio">No Information
                        </label>
                      </div>
                      <label>Other Serious (Important Medical Events)?</label>
                      <div class="input-group">
                        <label class="radio-inline">
                          <input type="radio" name="optradio">Yes
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="optradio">No
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="optradio">No Information
                        </label>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label>Death?</label>
                      <div class="input-group">
                        <label class="radio-inline">
                          <input type="radio" name="optradio">Yes
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="optradio">No
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="optradio">No Information
                        </label>
                      </div>
                      <label>Hospitalization New?</label>
                      <div class="input-group">
                        <label class="radio-inline">
                          <input type="radio" name="optradio">Yes
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="optradio">No
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="optradio">No Information
                        </label>
                      </div>
                      <label>Congetial Anomaly/Birth Defect?</label>
                      <div class="input-group">
                        <label class="radio-inline">
                          <input type="radio" name="optradio">Yes
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="optradio">No
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="optradio">No Information
                        </label>
                      </div>
                      <label>Dysfunction?</label>
                      <div class="input-group">
                        <label class="radio-inline">
                          <input type="radio" name="optradio">Yes
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="optradio">No
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-group" id="senderDiagnosis">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#senderDiagnosis"
                    href="#senderDiagnosisTab">
                    Sender Diagnosis
                  </a>
                </h4>
              </div>
              <div id="senderDiagnosisTab" class="panel-collapse collapse in">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="input-group">
                        <label>Verbatim Term</label>
                        <input type=“text” required class="form-control" aria-describedby="basic-addon1">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <div class="input-group">
                        <label>LLT Code</label>
                        <input type=“text” required class="form-control" aria-describedby="basic-addon1">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="input-group">
                        <label>&nbsp;</label>
                        <input type=“text” disabled required class="form-control" aria-describedby="basic-addon1">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="input-group">
                        <label>PT Code</label>
                        <input type=“text” required class="form-control" aria-describedby="basic-addon1">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="input-group">
                        <label>&nbsp;</label>
                        <input type=“text” disabled required class="form-control" aria-describedby="basic-addon1">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="input-group">
                        <label>SOC Code</label>
                        <input type=“text” disabled required class="form-control" aria-describedby="basic-addon1">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-group">
                        <label>&nbsp;</label>
                        <input type=“text” disabled required class="form-control" aria-describedby="basic-addon1">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="input-group">
                        <label>MedDRA Version</label>
                        <input type=“text” disabled required class="form-control" aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group">
                        <label>Coding Type</label>
                        <input type=“text” disabled required class="form-control" aria-describedby="basic-addon1">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-group" id="dosage">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#dosage" href="#dosageTab">
                    Dosage Text
                  </a>
                </h4>
              </div>
              <div id="dosageTab" class="panel-collapse collapse in">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="input-group">
                        <label>Unit Dose</label>
                        <input type=“text” required class="form-control" aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group">
                        <label>Frequency</label>
                        <input type=“text” required class="form-control" aria-describedby="basic-addon1">
                      </div>
                      <div class="col-md-3">
                        <div class="input-group">
                          <label>Daily Dose</label>
                          <input type=“text” required class="form-control" aria-describedby="basic-addon1">
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="input-group my-group">
                          <label>&nbsp;</label>
                          <select id="lunch" class="selectpicker form-control" data-live-search="true"
                            title="Please select an option ...">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="input-group">
                          <label class="checkbox-inline">
                            <input type="checkbox" value="">Manual
                          </label>
                        </div>
                      </div>
                      <div class="input-group">
                        <label>Dosage Text</label>
                        <textarea type=“text” required class="form-control" aria-describedby="basic-addon1"></textarea>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-group my-group">
                        <label>&nbsp;</label>
                        <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                        </select>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          <div class="input-group">
                            <label>Frequency Time</label>
                            <input type=“text” required class="form-control"
                              aria-describedby="basic-addon1">
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="input-group my-group">
                            <label>&nbsp;</label>
                            <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                                <option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                                <option>Option 4</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          <div class="input-group">
                            <label>Total Dose</label>
                            <input type=“text” required class="form-control"
                              aria-describedby="basic-addon1">
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="input-group my-group">
                            <label>&nbsp;</label>
                            <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                                <option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                                <option>Option 4</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="input-group">
                            <label class="checkbox-inline">
                              <input type="checkbox" value="">Manual
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="input-group my-group">
                        <label>Intake</label>
                        <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                            <option>Option 4</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-group" id="indication">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#indication" href="#indicationTab">
                    Indication
                  </a>
                </h4>
              </div>
              <div id="indicationTab" class="panel-collapse collapse in">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-12">
                      <label class="radio-inline">
                        <input type="radio" name="optradio">Indication
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="optradio">Effect
                      </label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="input-group">
                        <label>Indication Term</label>
                        <input type=“text” required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="input-group">
                        <label>LLT Code</label>
                        <input type=“text” required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group">
                        <label>PT Code</label>
                        <input type=“text” required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group">
                        <label>SOC Code</label>
                        <input type=“text” disabled required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-group">
                        <label>&nbsp;</label>
                        <input type=“text” disabled required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group">
                        <label>&nbsp;</label>
                        <input type=“text” disabled required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group">
                        <label>&nbsp;</label>
                        <input type=“text” disabled required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="input-group">
                        <label>MedDRA Version</label>
                        <input type=“text” disabled required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group">
                        <label>Coding Type</label>
                        <input type=“text” disabled required class="form-control"
                          aria-describedby="basic-addon1">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
