<header>
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="javascript:void(0);">Pharmasoft</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="javascript:void(0);">Auto</a></li>
          <li><a href="javascript:void(0);">0</a></li>
          <li><a href="javascript:void(0);"><fa-icon class="question" [icon]="faQuestionCircle"></fa-icon></a></li>
          <li><a href="javascript:void(0);"><fa-icon class="exclamation" [icon]="faExclamationCircle"></fa-icon></a></li>
          <li><a href="javascript:void(0);"><fa-icon class="signout" [icon]="faSignOutAlt"></fa-icon></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <nav class="navbar navbar-links navbar-default" role="navigation">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Case</a></li>
        <li [ngClass]="{'active': showColorForRecord}" class="record-list"><a href="#" (click)="showRespectiveList($event.target.innerHTML)">Record</a>
        </li>
        <li [ngClass]="{'active': showColorForForm}"><a href="#" (click)="showRespectiveList($event.target.innerHTML)">Forms</a></li>
        <li><a href="#">Dictionary</a></li>
        <li><a href="#">Submission and tracking</a></li>
      </ul>
    </div>
    <div class="nav-links-icons collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><fa-icon class="folder-open" [icon]="faFolderOpen"></fa-icon></li>
        <li><fa-icon class="save" [icon]="faSave"></fa-icon></li>
        <li><fa-icon class="close" [icon]="faTimes"></fa-icon></li>
      </ul>
    </div>
    <div class="nav-links" *ngIf="showRecordList">
      <div class="clearAfter pullLeft">
        <ul>
          <li>
            <a><span>1</span> Duplicate</a>
          </li>
          <li>
            <a><span>2</span> Delete/Remove</a>
          </li>
          <li>
            <a><span>3</span> Insert</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="nav-links" *ngIf="!toggle && showFormList">
      <div class="clearAfter pullLeft">
        <ul>
          <li>
            <a><span>1</span> Case</a>
            <ul class="remove-padding">
              <li><a>AER Progress</a></li>
              <li><a>Case Intake</a></li>
              <li><a (click)="switchToTabs()">AER Registration</a></li>
            </ul>
          </li>
        </ul>
        <ul>
          <li>
            <a><span>2</span> Assessment</a>
          </li>
        </ul>
      </div>
      <div class="clearAfter pullLeft">
        <ul>
          <li>
            <a><span>3</span> Full Data Entry</a>
            <ul class="remove-padding">
              <li><a>General</a></li>
              <li><a>E2B(R3) From</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="clearAfter pullLeft">
        <ul>
          <li>
            <a><span>4</span> Distribution List</a>
            <ul class="remove-padding">
              <li><a>Autority</a></li>
            </ul>
          </li>
        </ul>
        <ul>
          <li>
            <a><span>5</span> Affiliate Reporting</a>
            <ul class="remove-padding">
              <li><a>General</a></li>
            </ul>
          </li>
        </ul>
        <ul>
          <li>
            <a><span>6</span> Data</a>
            <ul class="remove-padding">
              <li><a>Lab Data Matrix</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div *ngIf="toggle">
    <div class="container-fluid">
      <div class="input-group my-group" style="margin-bottom: 10px;">
        <label>Languages</label>
        <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select an option ...">
        <option *ngFor="let languages of alpha3Languages">{{languages}}</option>
        </select>
      </div>
      <div class="panel-group" id="fullCaseDataView">
        <div class="panel panel-default">
          <div class="panel-heading header">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#fullCaseDataView" href="#fullCaseDataViewTab">
                Full Case Data View
              </a>
            </h4>
          </div>
          <div id="fullCaseDataViewTab" class="panel-collapse collapse">
            <div class="panel-body" style="padding: 15px 0;">

              <app-full-data-entry></app-full-data-entry>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-group" id="caseDetails">
        <div class="panel panel-default">
          <div class="panel-heading header">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#caseDetails" href="#caseDetailsTab">
                Case Details
              </a>
            </h4>
          </div>
          <div id="caseDetailsTab" class="panel-collapse collapse">
            <div class="panel-body" style="padding: 15px 0;">
              <app-general></app-general>
              <!-- <app-person></app-person> -->
              <!-- <app-investigator></app-investigator> -->
              <app-patient></app-patient>
              <app-disease></app-disease>
              <app-event></app-event>
              <app-product></app-product>
              <app-lab-data></app-lab-data>
              <app-comments></app-comments>
              <app-literature></app-literature>
              <app-case-additional></app-case-additional>
              <app-affiliate-reporting></app-affiliate-reporting>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</header>
