<div class="container-fluid">
  <div class="panel-group" id="comments">
    <div class="panel panel-default">
      <div class="panel-heading header">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#comments" href="#commentsTab">
            Comments
          </a>
        </h4>
      </div>
      <div id="commentsTab" class="panel-collapse collapse in">
        <div class="panel-body">
          <div class="panel-group" id="mainComments">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#mainComments" href="#mainCommentsTab">
                    Main comments
                  </a>
                </h4>
              </div>
              <div id="mainCommentsTab" class="panel-collapse collapse in">
                <div class="panel-body">
                  <div class="panel-group" id="eventDescription">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#eventDescription" href="#eventDescriptionTab">
                            Event Description
                          </a>
                        </h4>
                      </div>
                      <div id="eventDescriptionTab" class="panel-collapse collapse in">
                        <div class="panel-body">
                          <textarea rows="10" col="10"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel-group" id="labTest">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#labTest" href="#labTestTab">
                            Relevant Laboratory Tests Or Data
                          </a>
                        </h4>
                      </div>
                      <div id="labTestTab" class="panel-collapse collapse in">
                        <div class="panel-body">
                          <textarea rows="10" col="10"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-group" id="otherComments">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#otherComments" href="#otherCommentsTab">
                    Other comments
                  </a>
                </h4>
              </div>
              <div id="otherCommentsTab" class="panel-collapse collapse in">
                <div class="panel-body">
                  <div class="panel-group" id="patientHistory">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#patientHistory" href="#patientHistoryTab">
                            Patient History Including Pre-Existing Medical Conditions
                          </a>
                        </h4>
                      </div>
                      <div id="patientHistoryTab" class="panel-collapse collapse in">
                        <div class="panel-body">
                          <textarea rows="10" col="10"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel-group" id="parentHistory">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#parentHistory" href="#parentHistoryTab">
                            Patient History Including Pre-Existing Medical Conditions
                          </a>
                        </h4>
                      </div>
                      <div id="parentHistoryTab" class="panel-collapse collapse in">
                        <div class="panel-body">
                          <textarea rows="10" col="10"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel-group" id="reporterComments">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#reporterComments" href="#reporterCommentsTab">
                            Parent History Including Pre-Existing Medical Conditions
                          </a>
                        </h4>
                      </div>
                      <div id="reporterCommentsTab" class="panel-collapse collapse in">
                        <div class="panel-body">
                          <textarea rows="10" col="10"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel-group" id="companyRemarks">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#companyRemarks" href="#companyRemarksTab">
                            Company Remarks (Sender's Comments)
                          </a>
                        </h4>
                      </div>
                      <div id="companyRemarksTab" class="panel-collapse collapse in">
                        <div class="panel-body">
                          <textarea rows="10" col="10"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-group" id="senderDiagnosis">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#senderDiagnosis"
                    href="#senderDiagnosisTab">
                    Sender Diagnosis
                  </a>
                </h4>
              </div>
              <div id="senderDiagnosisTab" class="panel-collapse collapse in">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="input-group">
                        <label>Verbatim Term</label>
                        <input type=“text” required class="form-control" aria-describedby="basic-addon1">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <div class="input-group">
                        <label>LLT Code</label>
                        <input type=“text” required class="form-control" aria-describedby="basic-addon1">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="input-group">
                        <label>&nbsp;</label>
                        <input type=“text” disabled required class="form-control" aria-describedby="basic-addon1">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="input-group">
                        <label>PT Code</label>
                        <input type=“text” required class="form-control" aria-describedby="basic-addon1">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="input-group">
                        <label>&nbsp;</label>
                        <input type=“text” disabled required class="form-control" aria-describedby="basic-addon1">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="input-group">
                        <label>SOC Code</label>
                        <input type=“text” disabled required class="form-control" aria-describedby="basic-addon1">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-group">
                        <label>&nbsp;</label>
                        <input type=“text” disabled required class="form-control" aria-describedby="basic-addon1">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="input-group">
                        <label>MedDRA Version</label>
                        <input type=“text” disabled required class="form-control" aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group">
                        <label>Coding Type</label>
                        <input type=“text” disabled required class="form-control" aria-describedby="basic-addon1">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
